@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Righteous&family=Vina+Sans&display=swap');

body{
    background-color: #FCB97D;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Vina Sans', cursive;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-family: 'Righteous', cursive;
    color: #ffffff;
}

h3{
    text-align: center;
    text-decoration: underline;
    color: #000000;
    font-family: 'Righteous', cursive;
}

p{
    font-family: 'Bruno Ace SC', cursive;
    margin: 0px 0px 0px 20px;
}

span{
    color: #ffffff;
}