@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Pacifico&display=swap&family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
}

.kabuto{
    position: absolute;
    top: 88%;
    left: 83%;
    padding: 10px 40px;
    border: 0px solid;
    border-radius: 5px;
    background-color: #739aff;
    position: fixed;
    cursor: pointer;
    z-index: 999;
}
.bi-chat-text-fill{
    font-size: 25px;
    margin-right: 10px;
    color: #ffffff;
}

.sasori{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    position: relative;
    bottom: 4px;
}


.anime{
    width: 100%;
    height: 160vh;
    background-image: url(img/16461.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 15s ease infinite;
}

@keyframes slide{
    0%{
        background-image: url(img/16461.jpg);
    }
    10%{
        background-image: url(img/19258.jpg);
    }
    20%{
        background-image: url(img/269623.jpg);
    }
    30%{
        background-image: url(img/345182.jpg);
    }
    40%{
        background-image: url(img/402051.jpg);
    }
    50%{
        background-image: url(img/5000.jpg);
    }
    60%{
        background-image: url(img/560.jpg);
    }
    70%{
        background-image: url(img/832.jpg);
    }
    80%{
        background-image: url(img/902481.jpg);
    }
    90%{
        background-image: url(img/905479.jpg);
    }
    100%{
        background-image: url(img/939874.jpg);
    }
}

.naruto{
    width: 100%;
    height: 132px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 999;
}

.sakura{
    width: 250px;
    height: 140px;
    position: absolute;
    left: 43%;
    top: 0;
}

.itachi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    position: relative;
    top: 132px;
}

.madara li{
    display: inline-block;
    margin: 0px 25px;
    list-style: none;
}

.madara li a{
    text-decoration: none;
    color: #ffffff
}

.madara > li .viki:hover{
    border: 2px solid #ffffff;
    background-color: #9ccef9;
    padding: 5px;
    transition: 0.2s;
    position: static;
}

.madara > li .Kakashi{
    border: 2px solid #ffffff;
    padding: 14px;
}

.madara > li .Kakashi:hover{
    background-color: #9ccef9;
    transition: 0.5s;
}


.nagato{
    width: 280px;
    height: 300px;
    background-color: #e1e1e1cc;
    position: relative;
    top: 170px;
    left: 52.5rem;
}

.minato{
    padding: 15px 0px 7px 15px;
    font-size: 20px;
}

.obito{
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 15px;
}

.gaara {
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 15px;
    left: 10px;
    width: 240px;
    height: 25px;
}

.jiraiya {
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 30px;
}

.tsunade {
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 30px;
    left: 10px;
    width: 240px;
    height: 25px;
}

.shikamaru {
    padding: 0px 0px 0px 10px;
    position: relative;
    top: 47px;
}

.deidara{
    padding: 0px 0px 0px 10px;
        position: relative;
        top: 47px;
        left: 10px;
        width: 100px;
        height: 25px;
        font-size: 15px;
        font-weight: bolder;
        color: #000000;
}

.guy{
    padding: 0px 0px 0px 10px;
        position: relative;
        top: 0px;
        left: 140px;
}

.hidan{
    padding: 0px 0px 0px 10px;
        position: relative;
        top: 0px;
        left: 150px;
        width: 100px;
        height: 25px;
        font-size: 15px;
            font-weight: bolder;
            color: #000000;
}

.lee{
    padding: 7px;
        position: relative;
        top: 15px;
        left: 10px;
        width: 255px;
        background-color: #2e2e2e;
        color: #ffffff;
        border: 0px solid #2e2e2e;
        cursor: pointer;

}

.bi-facebook{
    position: relative;
    left: 67%;
    top: 200px;
    font-size: 35px;
    color: #ffffff;
    margin-right: 20px;
}

.bi-google{
    position: relative;
        left: 67%;
        top: 200px;
        font-size: 35px;
        color: #ffffff;
        margin-right: 20px;
}

.bi-linkedin{
    position: relative;
        left: 67%;
        top: 200px;
        font-size: 35px;
        color: #ffffff;
        margin-right: 20px;
}

.danzo{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    top: 875px;
}

.Konohamaru{
    position: relative;
    top: 35px;
    left: 45px;
}
.Asuma {
    position: relative;
    top: 35px;
    left: 45px;
    width: 150px;
}

.Kushina {
    position: relative;
    top: -5px;
    left: 250px;
}

.Yukimaru {
    position: relative;
    top: -5px;
    left: 250px;
    width: 150px;
}

.Temari {
    position: relative;
    top: -22px;
    left: 292px;
}

.KillerBee {
    position: relative;
    top: -25px;
    left: 450px;
    font-weight: bolder;
        color: #000000;
}

.Konan {
    position: relative;
    top: -64px;
    left: 550px;
}

.kurama {
    position: relative;
    top: -74px;
    left: 550px;
    font-weight: bolder;
        color: #000000;
}

.Tenten {
    position: relative;
    top: -80px;
    left: 600px;
    width: 250px;
    height: 40px;
    background-color: #9ccef9;
        color: #ffffff;
        border: 0px solid #9ccef9;
        cursor: pointer;
}

.manga{
    background-color: #999999;
}

.dragon{
    width: 100%;
    height: 130vh;
    background-image: url(img/wp3783007.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.deadly {
    width: 100%;
    height: 130vh;
    margin-top: 10px;
    background-image: url(img/wp3783004.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.zeldris {
    width: 100%;
    height: 130vh;
    margin-top: 10px;
    background-image: url(img/wp3783003.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.monspeet {
    width: 100%;
    height: 130vh;
    margin-top: 10px;
    background-image: url(img/wp3783002.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.mama {
    width: 100%;
    height: 130vh;
    margin-top: 10px;
    background-image: url(img/wp3783001.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.lancelot {
    width: 100%;
    height: 130vh;
    margin-top: 10px;
    background-image: url(img/wp3783000.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.mango{
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
}
/* Div - 1 Style Start */
.goku {
    position: relative;
    top: 60%;
    left: 22%;
    color: #ffffff;
    font-family: roboto;
    font-size: 60px;
    letter-spacing: 15px;
}

.vageta {
    position: relative;
    top: 70%;
    left: 46%;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-family: roboto;
    cursor: pointer;
}

.vageta:hover {
    background-color: #739aff;
}

/* Div - 2 Style Start */
.meliodas {
    position: relative;
    top: 60%;
    left: 10%;
    color: #ffffff;
    font-family: roboto;
    font-size: 60px;
        letter-spacing: 15px;
}

.escanor {
    position: relative;
    top: 70%;
    left: 19%;
    width: 150px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #ffffff;
        font-family: roboto;
        cursor: pointer;
}
.escanor:hover {
    background-color: #739aff;
}

/* Div - 3 Style Start */
.ban {
    position: relative;
    top: 60%;
    left: 49%;
    color: #ffffff;
    font-family: roboto;
    font-size: 60px;
        letter-spacing: 15px;
}

.diane {
    position: relative;
    top: 70%;
    left: 66%;
    width: 150px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #ffffff;
        font-family: roboto;
        cursor: pointer;
}
.diane:hover {
    background-color: #739aff;
}

/* Div - 4 Style Start */
.deity {
    position: relative;
    top: 60%;
    left: 11%;
    color: #ffffff;
    font-family: roboto;
    font-size: 60px;
        letter-spacing: 15px;
}

.gilthunder {
    position: relative;
    top: 70%;
    left: 26%;
    width: 150px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #ffffff;
        font-family: roboto;
        cursor: pointer;
}
.gilthunder:hover {
    background-color: #739aff;
}

/* Div - 5 Style Start */
.howzer {
    position: relative;
    top: 40%;
    left: 21%;
    color: #ffffff;
    font-family: roboto;
    font-size: 60px;
        letter-spacing: 15px;
}

.fraudrin {
    position: relative;
    top: 55%;
    left: 46%;
    width: 150px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #ffffff;
        font-family: roboto;
        cursor: pointer;
}
.fraudrin:hover {
    background-color: #739aff;
}

/* Div - 6 Style Start */
.percival {
    position: relative;
    top: 60%;
    left: 33%;
    color: #ffffff;
    font-family: roboto;
    font-size: 60px;
    letter-spacing: 15px;
}

.gawain {
    position: relative;
    top: 70%;
    left: 46%;
    width: 150px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #ffffff;
        font-family: roboto;
        cursor: pointer;
}
.gawain:hover {
    background-color: #739aff;
}

/* Anchor Style Start */
.gohan{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
/* Anchor Style End */