*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.anime{
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}
.japan{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;
    left: 40%;
}
.flag{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ff0000;
}
/* JAPNES FLAG STYLE END HERE */

.goku{
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.bel{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.gium{
    width: 100px;
    height: 200px;
    background-color: #000000;
}

.naruto{
    width: 100px;
    height: 200px;
    background-color: #ffff00;
}

.sasuki{
    width: 100px;
    height: 200px;
    background-color: #ff0000;
}
/* BELGIUM FLAG STYLE END */

.zoro{
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.luffy{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.one{
    width: 300px;
    height: 66.6px;
    background-color: #ffff00;
}

.two{
    width: 300px;
    height: 66.6px;
    background-color: #008000;
}

.three{
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}

/* LITHUANIA FLAG STYLE END */

.sakura{
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.ninetail{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.eighto{
    width: 300px;
    height: 66.6px;
    background-color: #ffffff;
}

.siken{
    width: 300px;
    height: 66.6px;
    background-color: #0000ff;
}

.killerbee{
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}
/* RUSSIA FLAG STYLE END */

.obito{
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 5%;
}

.madara{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.tentail{
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}

.kakashi{
    width: 300px;
    height: 66.6px;
    background-color: #ffffff;
}

.guy{
    width: 300px;
    height: 66.6px;
    background-color: #0000ff;
}
/* NETHER LANDS FLAG STYLE END */

.demon {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.slayer {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.dragon {
    width: 100px;
    height: 200px;
    background-color: #008000;
}

.ball {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
}

.super {
    width: 100px;
    height: 200px;
    background-color: #ff0000;
}
/* ITALY FLAG STYLE END */

.eleven {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.twelve {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.thirten {
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}

.fourtin {
    width: 300px;
    height: 66.6px;
    background-color: #0000ff;
}

.fiftin {
    width: 300px;
    height: 66.6px;
    background-color: #ffff00;
}
/* ARMENIA FLAG STYLE END */

.sixten {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.seventen {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.eighten {
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}

.ninten {
    width: 300px;
    height: 66.6px;
    background-color: #ffffff;
}

.twenty {
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}
/* AUSTRIA FLAG STYLE END */

.twentyone {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.twentytwo {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.twentythree {
    width: 100px;
    height: 200px;
    background-color: #008000;
}

.twentysix{
    display: flex;
        flex-direction: column;
}

.twentyfour {
    width: 200px;
    height: 200px;
    background-color: #ffff00;
}

.twentyfive {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
}
/* BENIN FLAG STYLE END */

.twentyseven {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.twentyeight {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.twentynine {
    width: 300px;
    height: 66.6px;
    background-color: #ffffff;
}

.thirty {
    width: 300px;
    height: 66.6px;
    background-color: #008000;
}

.thirtyone {
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}
/* BULGARIA FLAG STYLE END */

.thirtytwo {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.thirtythree {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.thirtyfour {
    width: 300px;
    height: 56.6px;
    background-color: #ff0000;
}

.thirtyseven{
    width: 300px;
    height: 15px;
    background-color: #ffffff;
}

.thirtyfive {
    width: 300px;
    height: 56.6px;
    background-color: #0000ff;
}

.thirtyeight {
    width: 300px;
    height: 15px;
    background-color: #ffffff;
}

.thirtysix {
    width: 300px;
    height: 56.6px;
    background-color: #008000;
}
/* GAMBIA FLAG STYLE END */

.thirtynine {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.forty {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.fortyone {
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}

.fortytwo {
    width: 300px;
    height: 66.6px;
    background-color: #ffffff;
}

.fortythree {
    width: 300px;
    height: 66.6px;
    background-color: #008000;
}
/*HUNGARY FLAG STYLE END */

.fortyfour {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.fortyfive {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.fortysix {
    width: 100px;
    height: 200px;
    background-color: #008000;
}

.fortyseven {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
}

.fortyeight {
    width: 100px;
    height: 200px;
    background-color: #ffa500;
}
/* IRELAND FLAG STYLE END */

.fortynine {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.fifty {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.fiftyone {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
}

.fiftytwo {
    display: flex;
    flex-direction: column;
}

.fiftythree {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
}

.fiftyfour {
    width: 200px;
    height: 200px;
    background-color: #008000;
}
/* MADAGASCAR FLAG STYLE END */

.fiftyfive {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.fiftysix {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.fiftyseven {
    width: 300px;
    height: 66.6px;
    background-color: #000000;
}

.fiftyeight {
    width: 300px;
    height: 66.6px;
    background-color: #ff0000;
}

.fiftynine {
    width: 300px;
    height: 66.6px;
    background-color: #ffff00;
}
/* GERMANY FLAG STYLE END */

.sixty {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.sixtyone {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: relative;
    top: 1rem;
    left: 40%;
}

.sixtytwo{
    display: flex;
    justify-content: center;
}

.sixtythree {
    width: 50px;
    height: 200px;
    background-color: #ff0000;
}

.sixtyfour{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixtyfive{
    width: 300px;
    height: 50px;
    position: relative;
    top: -7.8rem;
    background-color: #ff0000;
}
/* ENGLAND FLAG STYLE END */

.sixtysix {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 5%;
}

.sixtyseven {
    width: 300px;
    height: 200px;
    background-color: #ff0000;
    border: 1px solid #000000;
    position: relative;
    top: 1rem;
    left: 40%;
}

.sixtyeight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2.3rem;
}

.sixtynine {
    width: 50px;
    height: 130px;
    background-color: #ffffff;
}

.seventy{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3.3rem;
}

.seventyone {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
}
/* SWITZERLAND FLAG STYLE END */

.seventytwo {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.seventythree {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.seventyfour {
    width: 100px;
    height: 200px;
    background-color: #0000ff;
}

.seventyfive {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
}

.seventysix {
    width: 100px;
    height: 200px;
    background-color: #ff0000;
}
/* FRANCE FLAG STYLE END */

.seventyseven {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.seventyeight {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: relative;
    top: 1rem;
    left: 40%;
}

.seventynine {
    display: flex;
    justify-content: center;
    position: relative;
    left: -2.5rem;
}

.eighty {
    width: 50px;
    height: 200px;
    background-color: #0000ff;
}

.eightyone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eightytwo {
    width: 300px;
    height: 50px;
    position: relative;
    top: -7.8rem;
    background-color: #0000ff;
}
/* FINLAND FLAG STYLE END */ 

.eightythree {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.eightyfour {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.eightyfive {
    width: 300px;
    height: 100px;
    background-color: #ff0000;
}

.eightysix {
    width: 300px;
    height: 100px;
    background-color: #ffffff;
}

/* INDONESIA FLAG STYLE END */

.eightyseven {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.eightyeight {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: relative;
    top: 1rem;
    left: 40%;
}

.eightynine {
    width: 300px;
    height: 80px;
    background-color: #a4343a;
}

.ninety {
    width: 300px;
    height: 40px;
    background-color: #ffffff;
}

.ninetyone {
    width: 300px;
    height: 80px;
    background-color: #a4343a;
}

/* LATVIA FLAG STYLE END */

.nintytwo {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.nintythree {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.nintyfour {
    width: 300px;
    height: 66.6px;
    background-color: #ce1126;
}

.nintyfive {
    width: 300px;
    height: 66.6px;
    background-color: #ffffff;
}

.nintysix {
    width: 300px;
    height: 66.6px;
    background-color: #000000;
}
/* YEMEN FLAG STYLE END */

.nintyseven {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.nintyeight {
    width: 300px;
    height: 200px;
    background-color: #0000ff;
    border: 1px solid #000000;
    position: relative;
    top: 1rem;
    left: 40%;
}

.nintynine {
    display: flex;
    justify-content: center;
    position: relative;
    left: -2.5rem;
}

.hundred {
    width: 50px;
    height: 200px;
    background-color: #ffff00;
}

.onehundredone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onehundredtwo {
    width: 300px;
    height: 50px;
    position: relative;
    top: -7.8rem;
    background-color: #ffff00;
}
/* SWEDEN FLAG STYLE END */

.onehundredthree {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.onehundredfour {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    position: relative;
    top: 1rem;
    left: 40%;
}

.onehundredfive {
    width: 100px;
    height: 200px;
    background-color: #0000ff;
}

.onehundredsix {
    width: 100px;
    height: 200px;
    background-color: #ffff00;
}

.onehundredseven {
    width: 100px;
    height: 200px;
    background-color: #ff0000;
}
/* ROMANIA FLAG STYLE END */

.onehundredeight {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.onehundrednine {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 40%;
}

.onehundredten {
    width: 300px;
    height: 100px;
    background-color: #ffffff;
}

.onehundredeleven {
    width: 300px;
    height: 100px;
    background-color: #a4343a;
}

/* POLAND FLAG STYLE END */

.onehundredtwelve {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 70%;
}

.onehundredthirten {
    width: 300px;
    height: 200px;
    background-color: #0085ca;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1rem;
    left: 40%;
}

.onehundredfourten {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    right: 2rem;
    background-color: #ffff00;
}

/* PALAU FLAG STYLE END HERE */

.nintyseven {
    font-size: 50px;
    position: relative;
    top: 8.8rem;
    left: 10%;
}

.nintyeight {
    width: 300px;
    height: 200px;
    background-color: #ce1126;
    border: 1px solid #000000;
    position: relative;
    top: 1rem;
    left: 40%;
}

.nintynine {
    display: flex;
    justify-content: center;
    position: relative;
    left: -2.5rem;
}

.hundred {
    width: 40px;
    height: 200px;
    background-color: #ffffff;
}

.onehundredone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onehundredtwo {
    width: 300px;
    height: 40px;
    position: relative;
    top: -7.8rem;
    background-color: #ffffff;
}

/* DENMARK FLAG STYLE END */